<fieldset class="inputs"><legend><span>Details</span></legend><ol>
  <%= f.input :name, :required => true %>
  <% if not f.object.new? %>
    <%= f.input :permalink %>
  <% end %>
</ol></fieldset>

<fieldset class="buttons">
<ol>
  <li class="commit button">
    <input class="update" name="commit" type="submit"
     value="<% if f.object.new? %>Create<% else %>Update<% end %> Category">
  </li>
  <li class="cancel">
    <a href="<%= admin_posts_path %>">Cancel</a>
  </li>
</ol>
</fieldset>