<div class="panel blog-posts-sidebar">
  <%= render partial: "admin/posts/sidebar", locals: { categories: categories } %>
</div>

<div class="blog-posts-table">
  <% if category.blog_posts.size > 0 %>
    <%= render :partial => "admin/posts/table", :locals => {:posts => category.blog_posts} %>
  <% else %>
    <p>No posts here yet.</p>
  <% end %>
</div>
