<footer>
  <form class="well form-search" action="<%= blog_path %>" method="GET">
    <input name="search" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
  <a href="<%= blog_rss_feed %>" title="RSS Feed">RSS Feed</a>
</footer>