<footer>
  <form class="well form-search" action="<%= blog_search_path %>" method="GET">
    <input name="q" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
  <p>
    <a href="<%= blog_rss_feed_path %>.rss" title="RSS Feed">RSS Feed</a></br>
  </p>
</footer>